<div class="container mt-4">
  <h1 class="text-center">Hair Styles</h1>

  <!-- Button to open the modal -->
  <div class=" mb-3">
    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#addHairStyleModal"
    >
      Add New HairStyle
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="addHairStyleModal"
    tabindex="-1"
    aria-labelledby="addHairStyleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <!-- Affichage conditionnel de l'alerte de succès -->
          <h5 class="modal-title text-light" id="addHairStyleModalLabel">Add New HairStyle</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addHairStyle()">
            <div class="mb-3">
              <label for="name" class="form-label">Name:*</label>
              <input
                id="name"
                class="form-control"
                [(ngModel)]="newHairStyle.name"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description:*</label>
              <input
                id="description"
                class="form-control"
                [(ngModel)]="newHairStyle.description"
                name="description"
                required
              />
            </div>
            <div class="mb-3">
              <label for="hairType" class="form-label">Hair Type (comma-separated):*</label>
              <select
                id="hairType"
                class="form-select"
                [(ngModel)]="newHairStyle.hairType"
                name="hairType"
                required
              >
                <option [value]="0"> Straight</option>
                <option [value]="1">Wavy</option>
                <option [value]="2">Curly</option>
                <option [value]="3">Coily</option>
              </select>


            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="length" class="form-label">Length:*</label>
                <input
                  id="length"
                  type="number"
                  class="form-control"
                  [(ngModel)]="newHairStyle.length"
                  name="length"
                  [max]="2"
                  [min]="0"
                  required
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="sex" class="form-label">Sex:*</label>
                <select
                  id="sex"
                  class="form-select"
                  [(ngModel)]="newHairStyle.sex"
                  name="sex"
                  required
                >
                  <option [value]="0">Male</option>
                  <option [value]="1">Female</option>
                  <option [value]="2">Autre</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="averageTime" class="form-label">Average Time:*</label>
                <input
                  id="averageTime"
                  type="number"
                  class="form-control"
                  [(ngModel)]="newHairStyle.averageTime"
                  name="averageTime"
                  required
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="maintenanceLevel" class="form-label">Maintenance Level:*</label>
                <input
                  id="maintenanceLevel"
                  type="number"
                  class="form-control"
                  [(ngModel)]="newHairStyle.maintenanceLevel"
                  name="maintenanceLevel"
                  [max]="2"
                  [min]="0"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="createdBy" class="form-label">Created By:*</label>
                <input
                  id="createdBy"
                  class="form-control"
                  [(ngModel)]="newHairStyle.createdBy"
                  name="createdBy"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="modifiedBy" class="form-label">Modified By:*</label>
                <input
                  id="modifiedBy"
                  class="form-control"
                  [(ngModel)]="newHairStyle.modifiedBy"
                  name="modifiedBy"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="isActive" class="form-label">Is Active:*</label>
              <select
                id="isActive"
                class="form-select"
                [(ngModel)]="newHairStyle.isActive"
                name="isActive"
              >
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
              </select>
            </div>
            <div class="text-end">
              <button
                type="button"
                class="btn btn-dark col-2 me-2"
                data-bs-dismiss="modal"

              >
                Close
              </button>
              <button type="submit" class="btn btn-danger col-2">Add</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- List of HairStyles -->
  <div class="table-container mat-elevation-z8 bg-light">
    <table mat-table [dataSource]="dataSource" class="custom-table mat-table" matSort>
      <!-- Numéro de ligne -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef >#</th>
        <td mat-cell *matCellDef="let row; let i = index" > {{ i + 1 }} </td>
      </ng-container>

      <!-- Nom -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Name </th>
        <td mat-cell *matCellDef="let element" > {{ element.name }} </td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef > Description </th>
        <td mat-cell *matCellDef="let element" > {{ element.description }} </td>
      </ng-container>

      <!-- Hair Type -->
      <ng-container matColumnDef="hairType">
        <th mat-header-cell *matHeaderCellDef> HairType </th>
        <td mat-cell *matCellDef="let element"> {{ element.hairType || '' }} </td>
      </ng-container>

      <!-- Length -->
      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef > Length </th>
        <td mat-cell *matCellDef="let element" > {{ element.length }} </td>
      </ng-container>

      <!-- Sex -->
      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef > Sex </th>
        <td mat-cell *matCellDef="let element" > {{ element.sex === 1 ? 'Male' : 'Female' }} </td>
      </ng-container>

      <!-- Average Time -->
      <ng-container matColumnDef="averageTime">
        <th mat-header-cell *matHeaderCellDef > Average Time </th>
        <td mat-cell *matCellDef="let element" > {{ element.averageTime }} </td>
      </ng-container>

      <!-- Maintenance Level -->
      <ng-container matColumnDef="maintenanceLevel">
        <th mat-header-cell *matHeaderCellDef > Maintenance Level </th>
        <td mat-cell *matCellDef="let element" > {{ element.maintenanceLevel }} </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-outline-danger">View</button>
        </td>
      </ng-container>


      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data Rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

</div>
