.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
  color: #3333;
}

.modal-footer {
  border-top: 2px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  padding: 2rem;
}

/* White background for the entire table */
.custom-table {
  background-color:#1b2631;
  color:#333; /* Text color */
  font-size:2rem;
}

/* Header row with a white background */
.mat-header-row {
  background-color: gray; /* Light grey */
}

/* Apply styles for paginator */
.mat-paginator {
  background-color: #007bff; /* White background for paginator */
}

/* Optional: make the header bold */
.mat-header-cell {
  font-weight: bold;
}
